<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatroom</title>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io()
    socket.emit('login')
  </script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div id="container">
    <h2>Chatroom</h2>
    <div id="status-box">Server: <span id="status">-</span> / <span id="online">0</span> online.</div>
    <div id="user-box"><span id="online-user"></span>is online.</div>
    <div id="content">

    </div>
    <div id="send-box">
      <form id="send-form">
        <input type="hidden" name="name" id="name" placeholder="暱稱" value={{user.name}}>
        <input type="hidden" name="avatar" id="avatar" value={{user.avatar}}>
        <textarea type="text" name="msg" id="msg" cols="60" rows="4" onkeypress="isTyping('true'); timer=5;"
          onkeyup="isTyping('false')"></textarea>
        <input type="submit" value="送出" class="btn btn-primary btn-block">
      </form>
      <div id="typing_on"></div>
    </div>

  </div>
  <script src="/javascripts/chat.js"></script>
  <script>
    // press enter to submit, press enter + shift to go to a new line
    function submitOnEnter(event) {
      if (event.which === 13 & !event.shiftKey) {
        event.target.form.dispatchEvent(new Event("submit", { cancelable: true }))
        event.preventDefault();
      }
    }

    document.getElementById("msg").addEventListener("keypress", submitOnEnter)
  </script>
</body>

</html>